@{
  Layout = "_Layout";
}


<h1><center>Welcome!</center></h1>
<br>
<h1><center>Pretty Baked Bakery's Vendors and Orders!</center></h1>
<br>
<center><a href='/vendors/new'>Add a new Vendor</a></center>
<br>
<center><a href='/vendors'>See list of Vendors</a></center>

