<h1>Order Details: </h1>

<h2>@Model["orders"].Date</h2>
<h2>@Model["orders"].Description</h2>
<h2>@Model["orders"].Price</h2>

<h3>Vendor: @Model["vendor"].Name</h3>

<a href='/vendors/@Model["vendor"].Id/orders/new'>Place another order</a>
<a href='/vendors'>View all Vendors</a>

